.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 4rem;
  font-weight: 700;
}

.diff {
  text-align: center;
}

.btn-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2%;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1rem;
  font-weight: 700;
  padding: 4%;
  border: 0px;
  border-radius: 10px;
}

.start-btn {
  background-color: green;
  color: rgb(255, 255, 255);
}

.stop-btn {
  background-color: red;
  color: rgb(255, 255, 255);
}

.reset-btn {
  background-color: yellow;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}
